{% extends 'base.html' %}

{% block breadcrumb %}
<nav>
    Home > Login
</nav>
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-5">

        <div class="card soft-card p-5">

            <div class="text-center">

                <i class="bi bi-person-circle feature-icon display-4"></i>

                <h2 class="title-badge mt-3">
                    Login
                </h2>

            </div>

            <form method="POST" class="mt-4">

                {% csrf_token %}

                {{ form.as_p }}

                <button
                    type="submit"
                    class="btn btn-primary w-100">

                    <i class="bi bi-box-arrow-in-right"></i>
                    Login

                </button>

            </form>

        </div>

        <div class="text-center mt-3">

            Belum punya akun?

            <a href="{% url 'register' %}">
                Register
            </a>

        </div>

    </div>

</div>

{% endblock %}