{% extends 'base.html' %}

{% block breadcrumb %}
<nav>
    Home > About
</nav>
{% endblock %}

{% block content %}

<div class="container-box">

    <h1 class="home-title">Tentang Aplikasi</h1>
    <hr>

    <p>
        "Aplikasi Smart City Issue Reporting Lampung dibuat sebagai sarana bagi masyarakat untuk
        melaporkan berbagai permasalahan yang terjadi di lingkungan sekitar, mencakup layanan
        publik, sosial, dan keamanan. Dengan sistem ini, laporan dapat ditindaklanjuti dengan
        lebih terstruktur, efisien, dan transparan, sehingga membantu pemerintah dan pihak
        terkait dalam memberikan respons yang tepat dan cepat. Aplikasi ini juga dirancang agar
        mudah digunakan oleh semua lapisan masyarakat, sehingga setiap suara warga dapat
        tersampaikan dengan jelas dan menghasilkan solusi nyata bagi permasalahan yang terjadi
        di Provinsi Lampung."
    </p>

</div>

{% endblock %}