{% extends 'base.html' %}

{% block breadcrumb %}

<nav>
    Home > Reports > Delete Report
</nav>
{% endblock %}

{% block content %}

<div class="row justify-content-center">

```
<div class="col-md-6">

    <div class="card soft-card shine-card p-5 text-center">

        <i class="bi bi-trash3-fill display-3 text-danger"></i>

        <h2 class="title-badge mt-3">
            Konfirmasi Hapus
        </h2>

        <p class="soft-text mt-4">
            Apakah Anda yakin ingin menghapus laporan berikut?
        </p>

        <div class="alert alert-light mt-3">

            <h5 class="dashboard-title mb-0">
                {{ report.title }}
            </h5>

        </div>

        <form method="POST" class="mt-4">

            {% csrf_token %}

            <button
                type="submit"
                class="btn btn-danger">

                <i class="bi bi-trash"></i>
                Ya, Hapus

            </button>

            <a
                href="{% url 'report_list' %}"
                class="btn btn-warning">

                Batal

            </a>

        </form>

    </div>

</div>
```

</div>

{% endblock %}
