{% extends 'base.html' %}

{% block breadcrumb %}
<nav>
    Home > Reports
</nav>
{% endblock %}

{% block content %}

<div style="text-align:center;">
    <h2 class="title-badge">Daftar Laporan</h2>
</div>

<div class="text-center mt-3 mb-3">
    <div class="col-md-6 mx-auto">

        <input
            type="text"
            id="searchInput"
            class="form-control form-control-lg"
            placeholder="🔍 Cari laporan berdasarkan judul atau lokasi">

    </div>
</div>

{% if user.is_authenticated and user.is_admin %}
<div class="text-center mt-3 mb-3">
    <a href="{% url 'add_report' %}" class="btn-custom">Tambah Laporan</a>
</div>
{% endif %}

<div class="card soft-card shine-card p-4">

{% if reports|length > 0 %}

<div class="table-responsive">

<table class="table table-bordered table-hover text-center align-middle">
    <thead class="table-light">
        <tr>
            <th style="width:30%">Judul</th>
            <th style="width:40%">Lokasi</th>
            <th style="width:10%">Status</th>
            <th style="width:20%">Aksi</th>
        </tr>
    </thead>

    <tbody id="reportTableBody">
    {% for report in reports %}
        <tr class="report-row">
            <td class="title-cell report-title">{{ report.title }}</td>
            <td class="location-cell">{{ report.location }}</td>

            <td>

                {% if report.status == 'DRAFT' %}

                    <span class="badge-draft">
                        Draft
                    </span>

                {% elif report.status == 'REPORTED' %}

                    <span class="badge-reported">
                        Reported
                    </span>

                {% elif report.status == 'VERIFIED' %}

                    <span class="badge-verified">
                        Verified
                    </span>

                {% elif report.status == 'IN_PROGRESS' %}

                    <span class="badge-progress">
                        In Progress
                    </span>

                {% elif report.status == 'RESOLVED' %}

                    <span class="badge-resolved">
                        Resolved
                    </span>

                {% endif %}

            </td>

            <td>

                {% if report.status == 'REPORTED' %}
                <form method="POST" action="{% url 'update_status' report.id %}" class="mb-1">
                    {% csrf_token %}
                    <input type="hidden" name="status" value="VERIFIED">
                    <button class="btn btn-primary btn-sm">Verifikasi</button>
                </form>

                {% elif report.status == 'VERIFIED' %}
                <form method="POST" action="{% url 'update_status' report.id %}" class="mb-1">
                    {% csrf_token %}
                    <input type="hidden" name="status" value="IN_PROGRESS">
                    <button class="btn btn-warning btn-sm">Proses</button>
                </form>

                {% elif report.status == 'IN_PROGRESS' %}
                <form method="POST" action="{% url 'update_status' report.id %}" class="mb-1">
                    {% csrf_token %}
                    <input type="hidden" name="status" value="RESOLVED">
                    <button class="btn btn-success btn-sm">Selesai</button>
                </form>
                {% endif %}

                <div class="mt-2 d-flex gap-1 justify-content-center flex-nowrap">                    <button class="btn btn-primary btn-sm detail-btn" data-id="{{ report.id }}">Detail</button>
                    <a href="{% url 'update_report' report.id %}" class="btn btn-warning btn-sm">Update</a>
                    <a href="{% url 'delete_report' report.id %}" class="btn btn-danger btn-sm">Delete</a>
                </div>

            </td>

        </tr>

    {% endfor %}

    </tbody>

</table>

</div>

{% else %}

<div class="text-center">
    <p><b>Belum ada laporan</b></p>
</div>
{% endif %}

</div>

<!-- MODAL -->
<div class="modal fade" id="detailModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Detail Laporan</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body" id="modalContent">
        Loading...
      </div>

    </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {

    const searchInput =
        document.getElementById("searchInput");

    const modalContent =
        document.getElementById("modalContent");

    searchInput.addEventListener("keyup", function () {

        fetch(`/search/?q=${this.value}`)

        .then(res => res.json())

        .then(data => {

            const tbody =
                document.getElementById("reportTableBody");

            tbody.innerHTML = "";

            data.results.forEach(report => {

                tbody.innerHTML += `
                    <tr>

                        <td class="title-cell report-title">
                            ${report.title}
                        </td>

                        <td class="location-cell">
                            ${report.location}
                        </td>

                        <td>
                            ${report.status}
                        </td>

                        <td>
                            <button
                                class="btn btn-primary btn-sm detail-btn"
                                data-id="${report.id}">
                                Detail
                            </button>
                        </td>

                    </tr>
                `;

            });

            document
                .querySelectorAll(".detail-btn")
                .forEach(btn => {

                    btn.addEventListener("click", function () {

                        const id =
                            this.getAttribute("data-id");

                        fetch(`/report/${id}/api/`)
                        .then(res => res.json())
                        .then(data => {

                            modalContent.innerHTML = `
                                <p><b>Judul:</b> ${data.title}</p>
                                <p><b>Deskripsi:</b> ${data.description}</p>
                                <p><b>Lokasi:</b> ${data.location}</p>
                                <p><b>Status:</b> ${data.status}</p>
                            `;

                        });

                        const modal =
                            new bootstrap.Modal(
                                document.getElementById("detailModal")
                            );

                        modal.show();

                    });

                });

        });

    });

    document
        .querySelectorAll(".detail-btn")
        .forEach(btn => {

            btn.addEventListener("click", function () {

                const id =
                    this.getAttribute("data-id");

                fetch(`/report/${id}/api/`)
                .then(res => res.json())
                .then(data => {

                    modalContent.innerHTML = `
                        <p><b>Judul:</b> ${data.title}</p>
                        <p><b>Deskripsi:</b> ${data.description}</p>
                        <p><b>Lokasi:</b> ${data.location}</p>
                        <p><b>Status:</b> ${data.status}</p>
                    `;

                });

                const modal =
                    new bootstrap.Modal(
                        document.getElementById("detailModal")
                    );

                modal.show();

            });

        });

});
</script>

{% endblock %}