{% extends 'base.html' %}

{% block breadcrumb %}
<nav>
    Home > Reports > Update Report
</nav>
{% endblock %}

{% block content %}

<div class="container-box shine-card">

    <div class="text-center mb-4">
        <h2 class="title-badge">
            Edit Laporan
        </h2>
    </div>

    <div class="card soft-card p-4">

        <form method="POST" id="updateForm">

            {% csrf_token %}

            <div class="row g-4">

                <div class="col-md-6">
                    <label class="form-label fw-bold">
                        Judul Laporan
                    </label>
                    {{ form.title }}
                </div>

                <div class="col-md-6">
                    <label class="form-label fw-bold">
                        Kategori
                    </label>
                    {{ form.category }}
                </div>

                <div class="col-12">
                    <label class="form-label fw-bold">
                        Lokasi
                    </label>
                    {{ form.location }}
                </div>

                <div class="col-12">
                    <label class="form-label fw-bold">
                        Deskripsi
                    </label>
                    {{ form.description }}
                </div>

            </div>

            <div class="text-center mt-4">

                <button
                    type="submit"
                    class="btn btn-warning"
                    id="updateBtn">

                    <i class="bi bi-pencil-square"></i>
                    Update

                </button>

                <a
                    href="{% url 'report_list' %}"
                    class="btn btn-primary">

                    Kembali

                </a>

            </div>

        </form>

    </div>

</div>

<script>

document.getElementById("updateForm")
.addEventListener("submit", function(e){

    e.preventDefault();

    const btn =
    document.getElementById("updateBtn");

    btn.innerHTML =
    '<i class="bi bi-hourglass-split"></i> Loading...';

    btn.disabled = true;

    setTimeout(() => {
        this.submit();
    }, 1500);

});

</script>

{% endblock %}