{% extends 'base.html' %}

{% block content %}

<div class="container-box">

    <div style="text-align:center;">
        <h2 class="title-badge">Tambah Laporan</h2>
    </div>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="text-center mt-3">
            <button class="btn btn-primary">Simpan</button>
        </div>
    </form>

    <div class="text-center mt-3">
        <a href="{% url 'report_list' %}" class="btn-custom">Kembali</a>
    </div>

</div>

{% endblock %}