{% extends 'base.html' %}

{% block content %}

<div class="container-box">
    <div style="text-align:center;">
    <h2 class="title-badge">Tambah Laporan</h2>
</div>

    <form method="POST">
        {% csrf_token %}
        
        {{ form.as_p }}

        <button type="submit" class="btn-custom">Simpan</button>
    </form>

    <a href="{% url 'report_list' %}" class="btn-custom">Kembali</a>
</div>

<script>
document.querySelector("form").addEventListener("submit", function(){
    let btn = document.querySelector("button[type=submit]");
    btn.innerHTML = "Loading...";
    btn.disabled = true;
});
</script>

{% endblock %}