{% extends 'base.html' %}

{% block breadcrumb %}
<nav>
    Home > Reports > Delete Report
</nav>
{% endblock %}

{% block content %}
<div class="container-box text-center">
    <h2 class="title-badge">Konfirmasi Hapus</h2>

    <p class="mt-3">Yakin ingin menghapus:</p>
    <b>{{ report.title }}</b>

    <form method="POST" class="mt-3">
        {% csrf_token %}
        <button class="btn btn-danger">Ya, Hapus</button>
    </form>

    <br>
    <a href="{% url 'report_list' %}" class="btn-custom">Kembali</a>
</div>
{% endblock %}