{% extends 'base.html' %}

{% block content %}

<div class="container-box">
    <h1>Selamat Datang di Provinsi Lampung</h1>
    <hr>

    <p>
        Selamat datang di Smart City Issue Reporting Lampung!
        Banyak masalah di lingkungan sekitar yang sering tidak terdokumentasi.
        Aplikasi ini membantu masyarakat melaporkan masalah dengan cepat dan terstruktur.
    </p>

    <hr>

    <div class="actions">
        <a href="{% url 'add_report' %}" class="btn-custom">Tambah Laporan</a>
        <a href="{% url 'report_list' %}" class="btn-custom">Lihat Data Laporan</a>
    </div>
</div>

{% endblock %}