{% extends 'base.html' %}

{% block content %}

<div class="container-box">

    <div style="text-align:center;">
        <h2 class="title-badge">Detail Laporan</h2>
    </div>

    <hr>

    <div style="text-align:left;">

        <div style="display:flex; justify-content:space-between;">
            <h3>{{ report.title }}</h3>
            <div>
                <a href="{% url 'update_report' report.id %}" class="btn btn-warning">Update</a>
                <a href="{% url 'delete_report' report.id %}" class="btn btn-danger">Delete</a>
            </div>
        </div>

        <p><b>Category:</b> {{ report.category }}</p>
        <p><b>Description:</b> {{ report.description }}</p>
        <p><b>Location:</b> {{ report.location }}</p>

        <p><b>Status:</b>
            {% if report.status == 'REPORTED' %}
                <span class="badge-reported">Reported</span>
            {% elif report.status == 'VERIFIED' %}
                <span class="badge-verified">Verified</span>
            {% elif report.status == 'IN_PROGRESS' %}
                <span class="badge-progress">In Progress</span>
            {% else %}
                <span class="badge-resolved">Resolved</span>
            {% endif %}
        </p>

        <p><b>Created at:</b> {{ report.created_at|date:"d M Y H:i" }}</p>

    </div>

    <div class="text-center mt-3">
        <a href="{% url 'report_list' %}" class="btn-custom">Kembali</a>
    </div>

</div>

{% endblock %}