{% extends 'base.html' %}

{% block content %}

<div style="text-align:center;">
    <h2 class="title-badge">Daftar Laporan</h2>
</div>

<div class="text-center mb-3">
    <a href="{% url 'add_report' %}" class="btn-custom">Tambah Laporan</a>
</div>

<div class="container-box">

{% if reports %}

<table class="table table-bordered text-center align-middle">
    <thead>
        <tr>
            <th>Judul</th>
            <th>Lokasi</th>
            <th>Status</th>
            <th>Aksi</th>
        </tr>
    </thead>

    <tbody>
    {% for report in reports %}
        <tr>
            <td>{{ report.title }}</td>
            <td>{{ report.location }}</td>

            <td>
                <span class="
                    {% if report.status == 'REPORTED' %}badge-reported
                    {% elif report.status == 'VERIFIED' %}badge-verified
                    {% elif report.status == 'IN_PROGRESS' %}badge-progress
                    {% elif report.status == 'RESOLVED' %}badge-resolved
                    {% endif %}
                ">
                    {{ report.status|title }}
                </span>

                <br><br>

                {% if report.status == 'REPORTED' %}
                <form method="POST" action="{% url 'update_status' report.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="status" value="VERIFIED">
                    <button type="submit" class="btn btn-primary btn-sm">Verifikasi</button>
                </form>

                {% elif report.status == 'VERIFIED' %}
                <form method="POST" action="{% url 'update_status' report.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="status" value="IN_PROGRESS">
                    <button type="submit" class="btn btn-warning btn-sm">Proses</button>
                </form>

                {% elif report.status == 'IN_PROGRESS' %}
                <form method="POST" action="{% url 'update_status' report.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="status" value="RESOLVED">
                    <button type="submit" class="btn btn-success btn-sm">Selesai</button>
                </form>
                {% endif %}
            </td>

            <td>
                <div class="d-flex justify-content-center gap-2">
                    <a href="{% url 'report_detail' report.id %}" class="btn btn-primary btn-sm">Detail</a>
                    <a href="{% url 'update_report' report.id %}" class="btn btn-warning btn-sm">Update</a>
                    <a href="{% url 'delete_report' report.id %}" class="btn btn-danger btn-sm">Delete</a>
                </div>
            </td>

        </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}

<div class="text-center">
    <p>Belum ada laporan</p>
    <a href="{% url 'add_report' %}" class="btn-custom">Tambah Laporan</a>
</div>

{% endif %}

</div>

{% endblock %}