{% extends 'base.html' %}

{% block breadcrumb %}
<nav>
    Home > Reports > Update Report
</nav>
{% endblock %}

{% block content %}

<div class="container-box">

    <div style="text-align:center;">
        <h2 class="title-badge">Edit Laporan</h2>
    </div>

    <form method="POST" id="updateForm">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="text-center mt-3">
            <button type="submit" class="btn btn-warning" id="updateBtn">
                Update
            </button>
        </div>
    </form>

    <div class="text-center mt-3">
        <a href="{% url 'report_list' %}" class="btn-custom">Kembali</a>
    </div>

</div>

<script>
document.getElementById("updateForm").addEventListener("submit", function (e) {
    e.preventDefault();

    const btn = document.getElementById("updateBtn");
    btn.innerText = "Loading...";
    btn.disabled = true;

    setTimeout(() => {
        this.submit();
    }, 1500);
});
</script>

{% endblock %}